# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Kubernetes
kubeconfig

# Secrets
.env

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

*.pem
WizTestv1MongoKey

# SSH private keys
WizTestv1MongoKey
terraform/WizTestv1MongoKey
*.pem

# Allow Terraform public key
!terraform/WizTestv1MongoKey.pub